<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="not-found content">
                <p>OOPs, page not found : )</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>