<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium aperiam eveniet nobis. Modi,
                    et
                    cumque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium aperiam eveniet nobis. Modi,
                    et
                    cumque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium aperiam eveniet nobis. Modi,
                    et
                    cumque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium aperiam eveniet nobis. Modi,
                    et
                    cumque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium aperiam eveniet nobis. Modi,
                    et
                    cumque?</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>