<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="blogs content">
                <h2>All Blogs</h2>
                <% if(blogs.length> 0){
                    blogs.map((item)=>{
                    %>
                    <h3 class="title">
                        <%=item.title %>
                    </h3>
                    <p class="snippet">
                        <%= item.snippet%>
                    </p>
                    <% }) }else{ %>
                        <p>There are no blogs</p>
                        <% }%>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>