<head>
    <title>Blog Page | <%=title %>
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

        body {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
            font-family: 'Noto Sans JP', sans-serif;
            max-width: 1200px;
        }

        p,
        h1,
        h2,
        h3,
        a,
        ul {
            margin: 0;
            padding: 0;
            text-decoration: none;
            color: #222;
        }

        nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            text-transform: uppercase;
        }

        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        nav li {
            list-style-type: none;
            margin-left: 20px;
        }

        nav h1 {
            font-size: 3em;
        }

        nav p,
        nav a {
            color: #777;
            font-weight: 300;
        }

        footer {
            color: #777;
            text-align: center;
            margin: 80px auto 20px;
        }

        h2 {
            margin-bottom: 40px;
        }

        h3 {
            text-transform: capitalize;
            margin-bottom: 8px;
        }

        .content {
            margin-left: 20px;
        }

        .create-blog form {
            max-width: 400px;
            margin: 0 auto;
        }

        .create-blog input,
        .create-blog textarea {
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 8px;
        }

        .create-blog label {
            display: block;
            margin-top: 24px;
        }

        textarea {
            height: 120px;
        }

        .create-blog button {
            margin-top: 20px;
            background: crimson;
            color: white;
            padding: 6px;
            border: 0;
            font-size: 1.2em;
            cursor: pointer;
        }
    </style>
</head>