<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog khaja</h1>
        </a>
        <p>A net ninja site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blog</a></li>
    </ul>
</nav>